<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <span class="text-muted">This is a collaboration between Johan Buena and Mervyl Canlas and still under development</span>
  </div>
</footer>